@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.container{
    left: 0;
    bottom: 0;
    margin-top:20px;
    border-radius: 5px;
    width: 100%;
    
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color:#9E9E9E;
}
i{
    padding-top:  10px ;
    height: 20px;
    width: 20px;
}
i:hover{
    color:green;
    cursor: pointer;
}
.ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.li{
    list-style: none;
    padding: 4px;
}

.copyright {
   padding-bottom:  3px;
   color:#9E9E9E;
   font-weight: 500;
}

.copyright p {
    font-family: 'Oswald', sans-serif;
}

.copyright a {
    text-decoration: underline;
}

.copyright a:hover{
    color:green;
    text-decoration: none;
}

